/* Background patterns from subtlepatterns.com */
body, html {
	background-image: url("/img/footer_lodyas.png");
	font-family: Play;
	padding-top: 30px;
	font-size: 12pt;
}

.navbar a {
	outline: 0;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border: none;
	border-top: 10px solid rgb(8, 8, 8);
}

.navbar .navbar-inner .container {
	color: #FFF;
}

.nav .active a {
	border-bottom-right-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
}

.open .dropdown-toggle {
    background-color: #111111 !important;
    border-bottom-right-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
}

.inverse-dropdown {
  background-color: #222;
  border: none;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.inverse-dropdown a {
	color: #999 !important;
}

.inverse-dropdown a:hover {
	color: #ffffff !important;
    background-color: #000000 !important;
}

.inverse-dropdown a:focus {
	color: #ffffff !important;
    background-color: #000000 !important;
}

.jumbotron {
	padding-bottom: 20em;
}

.title {
	background: url(/img/Title.jpg) fixed;
	background-position: 50% -240px;
	color: #ffffff;
}

.background1 {
	background-image: url(/img/geometric.png);
}

.background2 {
	background-image: url(/img/footer_lodyas.png);
}

.pointer {
	cursor: pointer;
}

.max-width {
	max-width: 800px;
}

.top-offset {
	margin-top: 20%;
}

.white-text {
	color: #ffffff;
}

.section {
	padding-top: 35px;
	padding-bottom: 35px;
}

.panel {
	background-color: #404040;
	color: white;
	border: none;
	max-width: 500px;
}

.panel:hover {
	box-shadow: 0px 0px 10px 4px rgba(255, 0, 0, 1);
}

.panel-heading {
	color: #fff !important;
	background-color: #222222 !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border: none;
}

.panel-img {
	width: 100%;
}

.right {
	float: right;
	text-align: right;
}

.bigheader h1 {
	font-size: 50pt;
}

.slideanim {
	visibility: hidden;
}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

.video-max-size {
	max-width: 800px;
	max-height: 600px;
	margin: 0 auto;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(40%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width : 768px) {
	body, html {
		margin: 0px !important;
		padding-top: 25px;
	}
	.navbar {
		border-top: none;
		padding-top: 0px !important;
	}
	.nav .active a {
		border-radius: 0px !important;
	}
	.right {
		float: left;
		text-align: left;
	}
}